
<div>
  <mat-form-field>
    <input #inputAdd matInput formControlName="task" placeholder="task">
  </mat-form-field>
  <button mat-button  (click)="onClick()">add</button>
</div>

<div>
  <mat-label>Lista zadań do zrobienia</mat-label>
<mat-list>
  <mat-list-item *ngFor="let element of getList | filtertop:false ">
    <app-todo-item-component appTooltip [tooltipDateDone]="element.doneCreated" [todoinn]="element"  (notificationCommunication)="createDialog($event.message, $event.type)" ></app-todo-item-component>
   <!-- {{element}} -->
  </mat-list-item>
</mat-list>

<div></div>

<div>
  <mat-label>Zadania zrobione</mat-label>
  <mat-list>
    <mat-list-item *ngFor="let element of getList | filtertop:true">
      <app-todo-item-component appTooltip [tooltipDateDone]="element.doneCreated" [todoinn]="element"  (notificationCommunication)="createDialog($event.message, $event.type)" ></app-todo-item-component>
    <!-- {{element}} -->
    </mat-list-item>
  </mat-list></div>

</div>


<div class="notification-task">
  <div #dialog></div>
</div>

<div></div>


 